body {
    background-color: #000000;
}

audio::-webkit-media-controls-panel {
    background-color: #31cb8b;
}

audio::-webkit-media-controls-play-button {
    background-color: #1e8f60;
    border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
    color: #000000;
}

audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

audio::-webkit-media-controls-timeline {
    padding-right: 0;
    padding-left: 6px;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 1rem;
}

button:disabled {
    filter: grayscale(1);
    opacity: 0.5;
}